$color-principal: #005eb8;
$color-secundario: #f2f2f2;

$color-principal-letra:black;
$color-secundario-letra:white;

$color-hover: #004a93;
$color-background: #f8f8f4;
$color-form-background: #fdfdfb;
$color-placeholder: #666;
$color-selected-option: #005eb8;
$color-selected-text: #fff;
$color-focus-background: #e6f0ff;