@use "../abstracts/variables"; // Variables de color y tipografía

h1 {
    font-size: 2.5rem; /* Tamaño de fuente grande */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espacio debajo del título */
    color: variables.$color-principal-letra; /* Color del texto */
}

.container_servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dos columnas */
    width: 90%;
    margin: 0 auto; /* Centra el contenedor en la página */
    padding-bottom: 20px; /* Espacio para separar del footer */
    gap: 20px; /* Espacio entre los elementos */
    .elemento_servicio {
        display: flex;
        flex-direction: column; /* Para que los elementos estén en columna */
        align-items: center; /* Centra la imagen y los textos */
        border-radius: 10px; /* Bordes ligeramente redondeados */
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
        img {
            max-width: 100%; /* Evita que la imagen se salga del contenedor */
            height: auto;
        }
    }
}

.nombre_area_legal {
    font-size: 1.2rem; /* Tamaño de fuente grande */
    text-align: center; /* Centra el texto */
    margin: 20px; /* Espacio alrededor del título */
    color: variables.$color-principal-letra; /* Color del texto */
}	
